body {
	padding-top: 50px;
	padding-bottom: 20px;
}

table td{
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.logout{
	float:right;
	margin:8px 0px;
}

.form-horizontal .controls{
	padding-top:7px;
}

.list__filter{
	margin-bottom: 10px;
}

.pagination {
	margin: 18px 0;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.pagination ul > li {
	display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
	float: left;
	padding: 4px 12px;
	line-height: 18px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #999;
	cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999;
	background-color: transparent;
	cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
	border-left-width: 1px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

.tab-content {
	padding-top: 10px;
}

.list-group-item span.block-edit {
	display: none;
	font-size: 11px;
	color: #428BCA;
}

.list-group-item.active span.block-edit,
.list-group-item:hover span.block-edit {
	display: inline;
}

.list-group-item span.block-edit:hover {
	text-decoration: underline;
}

a.list-group-item:focus{
	outline: none;
}

.form-control-feedback {
	width: 46px;
}

@media (min-width: 768px){
	.modal-dialog.modal-normal-width{
		width: 600px;	
	}
}

.modal-dialog {
	width: 90%;
}

.list-group-item > .label {
	float: right;
}

.list-group-item > .badge + .badge{
	margin-right: 5px;
}

.badge-primary {
	background-color: #428BCA;
}

.badge-success {
	background-color: #5CB85C;
}

.badge-info {
	background-color: #5BC0DE;
}

@media (min-width: 1200px) {
	.container {
		width: 1270px;
	}
}
@media (min-width: 1300px) {
	.container {
		width: 1300px;
	}
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

textarea {
	max-width: 100%;
	min-height: 150px;
}

#code_editor {
	position: relative;
	width: 100%;
	height: 400px;
}

.modal-body .image-preview{
	margin-bottom: 10px;
}

.metro-ui-inner{
	-webkit-column-count: 3;
	-webkit-column-width: 320px;
	-moz-column-count: 3;
	-moz-column-width: 320px;
	column-count: 3;
	column-width: 320px;
}

.widgets .icon{
	text-align: center;
}

.widgets .icon > i{
	font-size: 70px;
	vertical-align: middle;
	text-align: center;
	margin-top: 35px;
}

.widgets .icon > .widget__title {
	margin-top: 15px;
}


/* Модуль */

div.module {
	float: none;
}

.module .module__title{
	position: relative;
	padding: 10px 43px 10px 7px;
	font-size: 17px;
	text-decoration: none;
	margin: 0 0 1px;
	background: #525252;
	color: #FFF;
}

.module .module__title .js-category_add,
.module .show,
.module .hides,
.module .module__title ul li .hides  {
	position: absolute;
	top:50%;
	width:20px;
	height:20px;
	padding: 0;
	margin: -10px 0 0;
	z-index: 4;
}

.module .module__title .js-category_add {
	right: 25px;
	background: url(../images/icons/add2.png) center no-repeat;
}

.module .show {
	right:5px;
	background: url(../images/icons/bottom-white.png) center no-repeat;
}
.module ul li .show {
	right:5px;
	background: url(../images/icons/bottom.png) center no-repeat;
}
.module  .hides {
	right:5px;
	background: url(../images/icons/top-white.png) center no-repeat;
}
.module ul li .hides {
	right:5px;
	background: url(../images/icons/top-t.png) center no-repeat;
}

.module ul li.list-group-item{
	border: none;
	padding: 0;
	border-radius: 0;
}

.module ul li.list-group-item label.cat-title{
	font-size:16px;
	color: #000;
	display: block;
	padding: 10px 39px 10px 21px;
	margin: 0 0 1px;
	background: #EDEDED url(../images/icons/menul-gray.png) left center no-repeat;
}
.module ul li.list-group-item li label.cat-title{
	margin: 0 0 2px;
}
.module ul li.list-group-item.active label.cat-title {
	background: #ecf0be url(../images/icons/menul-green1.png) left center no-repeat;
}

.module ul .actions {
	margin:0px;
	visibility:hidden;
}
.module ul .actions a {
	margin:0px 11px 0px 0px;
	font-size:13px;
	text-decoration:underline;
	cursor:pointer;
	background:none;
	padding:0px;
	float:none;
	width:auto;
}
.module ul li.list-group-item label.cat-title:hover > .actions {
	visibility: visible;
}
.module ul li .actions a.js-category_edit {
	color: #525252;
}
.module ul li .actions a.js-category_remove {
	color: #ff0000;
}
.module ul li .actions a:hover {
	text-decoration: none;
}

/* Модальные окна */

.modal-content{
	border-radius: 0;
}

.modal-header{
	padding: 0;
	background: #525252;
	position: relative;
	border-spacing: 0px;
}

.modal-title{
	color: #FFF;
	font-size: 17px;
	font-weight: 400;
	margin: 7px 0 0 10px;
}

.modal-header button.close {
	background-image: url(../images/icons/close2.png) !important;
	background-position:center;
	background-repeat: no-repeat;
	width:40px;
	opacity: 1 !important;
	background-color: #EE1C25 !important;
}

.modal-header .close{
	margin-top: 0px;
}

input[type=file]{
	width: 100%;
}

.modal-body fieldset > legend .shw-hd {
	background: #939393;
	color: #FFF;
}

.modal-body fieldset > legend {
	border: none;
}


/* Список */

.ksl-toolbar {
	margin-bottom: 10px;
}

table.cat{
	width: 100%;
}


.list-door-img{
	position:relative;
	width:30px;
	height:50px;
	display:inline-block;
	vertical-align:middle;
}
.list-door-img .door-img{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	height:50px;
}
.list-door-img .color-img{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	height:50px;
}
.form-door-img{
	position:relative;
	height:150px;
}
.form-door-img .door-img{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	height:150px;
}
.form-door-img .color-img{
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
	height:150px;
}